iTactixCore/SelfHost/Service References/ServiceReference1/iTactixCoreService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8888/iTactixCoreService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessObjects" />
  <xs:element name="CollectDelta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectDeltaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CollectDeltaResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="VerifyLoginResult" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateScheduleForScreens">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="scheduleCollection" nillable="true" type="q2:ScheduleCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateScheduleForScreensResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateScheduleForScreensResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateScheduleForGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="scheduleCollection" nillable="true" type="q3:ScheduleCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateScheduleForGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateScheduleForGroupsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectScheduleForScreen">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectScheduleForScreenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="CollectScheduleForScreenResult" nillable="true" type="q4:ScheduleCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectScheduleForScreenGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="group" nillable="true" type="q5:ScreenGroups" />
        <xs:element minOccurs="0" name="datetime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectScheduleForScreenGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="CollectScheduleForScreenGroupResult" nillable="true" type="q6:ScheduleCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectLoopContentForZone">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="zone" nillable="true" type="q7:Template" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="loop" nillable="true" type="q8:Loop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectLoopContentForZoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="CollectLoopContentForZoneResult" nillable="true" type="q9:LoopContentCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectLoopContentForZoneByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zonename" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="loopname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectLoopContentForZoneByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="CollectLoopContentForZoneByNameResult" nillable="true" type="q10:LoopContentCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplyLoopContentCollection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="contentForZone" nillable="true" type="q11:LoopContentCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplyLoopContentCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApplyLoopContentCollectionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TESTInsertGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="s" nillable="true" type="q12:ScreenGroups" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TESTInsertGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TESTInsertGroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectSCreenGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="s" nillable="true" type="q13:ScreenGroups" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectSCreenGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="CollectSCreenGroupResult" nillable="true" type="q14:ScreenGroups" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectLoopContentCollection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectLoopContentCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="CollectLoopContentCollectionResult" nillable="true" type="q15:LoopContentCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectTemplates">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectTemplatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="CollectTemplatesResult" nillable="true" type="q16:TemplateCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectZonesForTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="zone" nillable="true" type="q17:Template" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectZonesForTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="CollectZonesForTemplateResult" nillable="true" type="q18:TemplateCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectZonesForThisTemplateName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="templateName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectZonesForThisTemplateNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="CollectZonesForThisTemplateNameResult" nillable="true" type="q19:TemplateCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeMedia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="mediaName" nillable="true" type="q20:Content" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeMediaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeMediaResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertScheduleItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="schedule" nillable="true" type="q21:Schedule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertScheduleItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertScheduleItemResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMedia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="media" nillable="true" type="q22:Content" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMediaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertMediaResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="template" nillable="true" type="q23:Template" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertTemplateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="templateName" nillable="true" type="q24:Template" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveTemplateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCSScreen">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="screen" nillable="true" type="q25:CSScreen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCSScreenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveCSScreenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCSMedia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="media" nillable="true" type="q26:CSMedia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCSMediaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveCSMediaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCSMediaLoop">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="medialoop" nillable="true" type="q27:CSMedialoop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCSMediaLoopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveCSMediaLoopResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCSDirection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="direction" nillable="true" type="q28:CSDirection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCSDirectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveCSDirectionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCSEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="evnt" nillable="true" type="q29:CSEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCSEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveCSEventResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateScheduleItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="schedule" nillable="true" type="q30:Schedule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateScheduleItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateScheduleItemResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="templateName" nillable="true" type="q31:Template" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeTemplateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectMedia">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectMediaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="CollectMediaResult" nillable="true" type="q32:ArrayOfContent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectLoops">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectLoopsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="CollectLoopsResult" nillable="true" type="q33:LoopCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectThisLoop">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loopName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectThisLoopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="CollectThisLoopResult" nillable="true" type="q34:Loop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertLoop">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="loop" nillable="true" type="q35:Loop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertLoopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertLoopResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveLoop">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="loop" nillable="true" type="q36:Loop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveLoopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveLoopResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectScreenGroups">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectScreenGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="CollectScreenGroupsResult" nillable="true" type="q37:ScreenGroupsCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectScreens">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectScreensResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="CollectScreensResult" nillable="true" type="q38:ScreenCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterDisplayClientLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="screenid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterDisplayClientLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterDisplayClientLoginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertScreen">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="screen" nillable="true" type="q39:Screen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertScreenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertScreenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="CollectUsersResult" nillable="true" type="q40:UserCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectCSScreens">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectCSScreensResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="CollectCSScreensResult" nillable="true" type="q41:CSScreenCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectCSMedia">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectCSMediaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="CollectCSMediaResult" nillable="true" type="q42:CSMediaCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectCSMediaLoops">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectCSMediaLoopsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="CollectCSMediaLoopsResult" nillable="true" type="q43:CSMedialoopCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurgeCSMediaLoops">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PurgeCSMediaLoopsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PurgeCSMediaLoopsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateCSMediaLoop">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="loop" nillable="true" type="q44:CSMedialoop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateCSMediaLoopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUpdateCSMediaLoopResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateCSDirection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="direction" nillable="true" type="q45:CSDirection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateCSDirectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUpdateCSDirectionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateCSEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="csEvent" nillable="true" type="q46:CSEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateCSEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUpdateCSEventResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateCSTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="cstemplate" nillable="true" type="q47:CSTemplate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateCSTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUpdateCSTemplateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateCSMedia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="_csmedia" nillable="true" type="q48:CSMedia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateCSMediaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUpdateCSMediaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectCSEvents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectCSEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="CollectCSEventsResult" nillable="true" type="q49:CSEventCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectCSTemplates">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectCSTemplatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="CollectCSTemplatesResult" nillable="true" type="q50:CSTemplateCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectCSMediaWithThumbs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectCSMediaWithThumbsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="CollectCSMediaWithThumbsResult" nillable="true" type="q51:CSMediaCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectCSDirections">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectCSDirectionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="CollectCSDirectionsResult" nillable="true" type="q52:CSDirectionCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectCSDirectionsForThisDirectionalDisplay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="directionaldisplayid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CollectCSDirectionsForThisDirectionalDisplayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="CollectCSDirectionsForThisDirectionalDisplayResult" nillable="true" type="q53:CSDirectionCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="userName" nillable="true" type="q54:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveMedia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="_content" nillable="true" type="q55:Content" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveMediaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveMediaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTicker">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="_content" nillable="true" type="q56:Content" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTickerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveTickerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOrUpdateTicker">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="ticker" nillable="true" type="q57:Content" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOrUpdateTickerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertOrUpdateTickerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="user" nillable="true" type="q58:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCSScreen">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="screen" nillable="true" type="q59:CSScreen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCSScreenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertCSScreenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="user" nillable="true" type="q60:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeCSScreen">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="screen" nillable="true" type="q61:CSScreen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeCSScreenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeCSScreenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="groupName" nillable="true" type="q62:ScreenGroups" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveGroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeScreenGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="screen" nillable="true" type="q63:Screen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeScreenGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeScreenGroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveScreen">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="screenName" nillable="true" type="q64:Screen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveScreenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveScreenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertScreenGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/BusinessObjects" minOccurs="0" name="scrg" nillable="true" type="q65:ScreenGroups" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertScreenGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertScreenGroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>